<form bindsubmit="formBindsubmit" bindreset="formReset">
  <view wx:for="{{userList}}" class="row {{index % 2 == 0 ? 'grey-bg' : ''}}">
    <div class="left-column">
      <div class="left-field">
        <label class="left-label" for="{{item.user}}">{{item.name}}:</label>
        <input type="number" class="row-input" id="{{item.user}}" name="{{item.user}}" placeholder="请输入{{item.name}}"/>
      </div>
      <div class="left-field">
        <label class="left-label" for="BirdFor{{item.user}}">鸟：</label>
        <input type="number" class="row-input" id="BirdFor{{item.user}}" name="BirdFor{{item.user}}" placeholder="请输入{{item.user}}"  value="0"/>
      </div>
    </div>
    <div class="right-column">
      <label class="right-label" for="{{item.user}}Tuo">坨</label>
      <switch id="{{item.user}}Tuo" name="{{item.user}}Tuo"/>
    </div>
    <div class="result-column">
      <label class="result-label" for="{{item.user}}Tuo">结算:\n</label>
      <div>{{result[index]}}</div>
    </div>
  </view>

  <view class="row grey-bg">
    <label class="left-column">倍数:</label>
    <input class="right-column" type="number" name="multiplier" value="1"></input>
  </view>

  <view class="center-align-row">
    <button formType="submit">计算</button>
    <button formType="reset">重置</button>
  </view>
</form>


